[submodule "site/media"]
	path = site/media
	url = https://github.com/simonbates/procdraw-site-media.git
[submodule "third_party/Catch"]
	path = third_party/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "third_party/gl3w"]
	path = third_party/gl3w
	url = https://github.com/skaslev/gl3w.git
[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm.git
[submodule "third_party/google/googletest"]
	path = third_party/google/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/google/styleguide"]
	path = third_party/google/styleguide
	url = https://github.com/google/styleguide.git
[submodule "third_party/tinyxml2"]
	path = third_party/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
