/build/
.vagrant

# Emacs
\#*\#
*~

# GNU GLOBAL
/GPATH
/GRTAGS
/GTAGS

# Site
/site/node_modules/
/site/bower_components/
/site/_reference/
/site/_site/
/site/.sass-cache
/site/.jekyll-metadata
/site/css/main.css
