@charset 'utf-8';

@import 'settings';
@import 'foundation';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-table;

.procdraw-header {
    background-color: #ebebe8;
    padding: 1.5rem 0;
    margin: 0 0 2.5rem 0;
}

.procdraw-header a {
    color: $body-font-color;
}

.procdraw-sitename {
    font-weight: 700;
    text-transform: uppercase;
}

.procdraw-nav a {
    padding: 0 0 0.25em 0;
    margin: 0 1.5em 0 0;
}

.procdraw-active-section {
    border-bottom: 0.35em solid #707070;
}

.procdraw-site h1 {
    font-weight: 300;
}

.procdraw-site h2 {
    font-weight: 700;
    margin: 1.5rem 0 0.5rem 0;
}

.procdraw-home h1 {
    font-weight: 400;
    margin: 0 0 1rem 0;
}

.procdraw-home p {
    font-size: 1.5rem;
    font-weight: 300;
}

pre {
    font-family: $font-family-monospace;
}

.procdraw-argname {
    font-style: italic;
}
