<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Procdraw Docs</title>
        <link href="https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans:400,600,700|PT+Serif&display=swap" rel="stylesheet">
        <link href="/site.css" rel="stylesheet">
    </head>
    <body>
        <main>
            <h1 class="sans-serif">Procdraw Docs</h1>
            % for function in docs.xpath("./functions/function"):
                <h2 class="sans-serif">Function ${function.get("name") | h}</h2>
                <p><code>${function.findtext("syntax") | h}</code></p>
                <p>${function.findtext("desc") | h}</p>
                <h3 class="sans-serif">Examples</h3>
                <ul class="examples code">
                % for ex in function.xpath("./examples/ex"):
                    <li>${ex.get("expr") | h} => ${ex.get("value") | h}</li>
                % endfor
                </ul>
            % endfor
        </main>
    </body>
</html>
