<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="procdraw-site">
    <div class="procdraw-header">
      <div class="row">
        <div class="large-6 columns">
          <a class="procdraw-sitename" href="/">PROCDRAW</a>
        </div>
        <div class="large-6 columns procdraw-nav">
          <a href="/">Home</a>
          <a href="/docs/">Docs</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        {{ content }}
      </div>
    </div>
  </body>

</html>
