html {
    font-family: 'PT Serif', serif;
    font-size: 1.25em;
}

body {
    margin: 0;
    padding: 0;
}

main {
    margin: 0 auto 5rem auto;
    padding: 0 1em;
    max-width: 35rem;
}

h1 {
    font-size: 2.62rem;
    font-weight: 600;
    margin: 2rem 0 1.5rem 0;
    padding: 0;
    border-bottom: 1px solid #BBB;
}

h2 {
    font-size: 1.62rem;
    font-weight: bold;
    margin: 3rem 0 1rem 0;
    padding: 0;
}

h3 {
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sans-serif {
    font-family: 'Fira Sans', sans-serif;
}

code, .code {
    font-family: 'Fira Mono', monospace;
    font-size: 0.9rem;
}

.examples {
    background: #F4F4F4;
    border-radius: 0.75rem;
    padding: 0.75rem;
    line-height: 1.5;
}
